<!DOCTYPE html>
<html>
    <head><meta name="description" content="Kick Ups is fun sports game for your touchscreen device. Play this fun, free mobile game on your phone or tablet. This game is fun for kids."><meta name="keywords" content="Kick Ups, ipad games, droid games, games, free, mobile games, cell phone games, tablet games, touchscreen games, fun games, action games, sports games, soccer games, kids games, games for kids">
        <title>Ball Master</title>
        <link rel="stylesheet" href="css/reset.css" type="text/css">
        <link rel="stylesheet" href="css/main.css" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="msapplication-tap-highlight" content="no"/>

        <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="js/createjs-2013.09.25.min.js"></script>
        <script type="text/javascript" src="js/ctl_utils.js"></script>
        <script type="text/javascript" src="js/sprite_lib.js"></script>
        <script type="text/javascript" src="js/settings.js"></script>
        <script type="text/javascript" src="js/CVector2.js"></script>

        <script type="text/javascript" src="js/CLang.js"></script>
        <script type="text/javascript" src="js/CPreloader.js"></script>
        <script type="text/javascript" src="js/CMain.js"></script>
        <script type="text/javascript" src="js/CTextButton.js"></script>
        <script type="text/javascript" src="js/CGfxButton.js"></script>
        <script type="text/javascript" src="js/CToggle.js"></script>
        <script type="text/javascript" src="js/CMenu.js"></script>
        <script type="text/javascript" src="js/CGame.js"></script>
        <script type="text/javascript" src="js/CInterface.js"></script>
        <script type="text/javascript" src="js/CBall.js"></script>
        <script type="text/javascript" src="js/CBallChallenge.js"></script>
        <SCRIPT TYPE="text/javascript" src="js/CPlayer.js"></SCRIPT>


    </head>
    <body ondragstart="return false;" ondrop="return false;" content="Kick Ups is fun sports game for your touchscreen device. Play this fun, free mobile game on your phone or tablet. This game is fun for kids." >
      <script>
            $(document).ready(function(){
                     var oMain = new CMain({
                        // Normal mode parameters:
                            gravity: 3.5,
                            ballMass: 1,
                            friction: 0.75,
                            edgeFriction: 0.2,
                            rotationSpeed: 1.25,
                            horizKickForce: 50,
                            vertKickForce: 50,
                            restitutionKickForce: 0.25,
                        // Challenge mode parameters:
                            chGravity: 3.5,
                            chBallMass: 1,
                            chFriction: 0.75,
                            chEdgeFriction: 0.2,
                            chRotationSpeed: 1.25,
                            chHorizKickForce: 50,
                            chVertKickForce: 50,
                            chRestitutionKickForce: 0.25,
                            chGravityIncrease: 0.05    
                     });

                     $(oMain).on("game_start", function(evt) {
                             //alert("game_start");
                     });

                     $(oMain).on("new_highscore", function(evt,iHighScore) {
                             //alert("iHighScore: "+iHighScore );
                     });

                     $(oMain).on("restart", function(evt) {
                             //alert("restart");
                     });
           });

        </script>
        <canvas id="canvas" class='ani_hack' width="768" height="1024"> </canvas>
    </body>
</html>

