<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title></title>
    <link rel="shortcut icon" href="#" />
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }
    body,
    html {
        margin: 0px;
        height: 100%;
        width: 100%;
		background: #FFF;
    }
	.play-box{
		position: absolute;top: 0;left: 0;right: 0;bottom: 10%;
	}
    .play-box iframe html{
        margin: 0px;
    }
	.play-box iframe{
		width: 100%;
		height: 100%;
	}
	.ad-box{
		position: absolute;	bottom: 0;left: 0;right: 0;
		top: 90%;
	}
</style>

<body>
    <div class="flex_wrap">
        <div class="play-box">
            <iframe src="../../view/games/BallMaster/game_BallMaster.html"></iframe>
        </div>
        <div class="ad-box">

        </div>
    </div>
</body>
</html>