<!DOCTYPE html>
<html>

<head>
    <title>Scoring Table</title>
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/orientation_utils.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,minimal-ui"
    />
    <meta name="msapplication-tap-highlight" content="no" />

    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/createjs-2015.11.26.min.js"></script>
    <script type="text/javascript" src="js/screenfull.js"></script>
    <script type="text/javascript" src="js/howler.min.js"></script>
    <script type="text/javascript" src="js/ctl_utils.js"></script>
    <script type="text/javascript" src="js/sprite_lib.js"></script>
    <script type="text/javascript" src="js/settings.js"></script>
    <script type="text/javascript" src="js/CLang.js"></script>
    <script type="text/javascript" src="js/CPreloader.js"></script>
    <script type="text/javascript" src="js/CMain.js"></script>
    <script type="text/javascript" src="js/CTextButton.js"></script>
    <script type="text/javascript" src="js/CToggle.js"></script>
    <script type="text/javascript" src="js/CGfxButton.js"></script>
    <script type="text/javascript" src="js/CMenu.js"></script>
    <script type="text/javascript" src="js/CGame.js"></script>
    <script type="text/javascript" src="js/CInterface.js"></script>
    <script type="text/javascript" src="js/cannon.js"></script>
    <script type="text/javascript" src="js/cannon.demo.js"></script>
    <script type="text/javascript" src="js/CBall.js"></script>
    <script type="text/javascript" src="js/CScenario.js"></script>
    <script type="text/javascript" src="js/Three.js"></script>
    <script type="text/javascript" src="js/Detector.js"></script>
    <script type="text/javascript" src="js/smoothie.js"></script>
    <script type="text/javascript" src="js/Stats.js"></script>
    <script type="text/javascript" src="js/TrackballControls.js"></script>
    <script type="text/javascript" src="js/dat.gui.js"></script>
    <script type="text/javascript" src="js/FBXLoader.js"></script>
    <script type="text/javascript" src="js/CWinPanel.js"></script>
    <script type="text/javascript" src="js/CAreYouSurePanel.js"></script>
    <script type="text/javascript" src="js/CCreditsPanel.js"></script>
    <script type="text/javascript" src="js/CVector2.js"></script>
    <script type="text/javascript" src="js/CScoreBoard.js"></script>
    <script type="text/javascript" src="js/CLaunchBoard.js"></script>
    <script type="text/javascript" src="js/COcclusionController.js"></script>
    <script type="text/javascript" src="js/CAnimationBallTub.js"></script>
    <script type="text/javascript" src="js/CSkeeballBanner.js"></script>
    <script type="text/javascript" src="js/CHelpPanel.js"></script>
    <script type="text/javascript" src="js/CLoadingPanel.js"></script>
    <script type="text/javascript" src="js/CController.js"></script>
    <script type="text/javascript" src="js/CPowerBar.js"></script>
    <script type="text/javascript" src=""></script>

 
</head>

<body ondragstart="return false;" ondrop="return false;">
    <div style="position: fixed; background-color: transparent; top: 0px; left: 0px; width: 100%; height: 100%"></div>
    <script>
        $(document).ready(function () {
            var oMain = new CMain({

                num_of_balls: 10, //MAX NUMBER OF BALLS TO SHOOT
                fullscreen: true, //SET THIS TO FALSE IF YOU DON'T WANT TO SHOW FULLSCREEN BUTTON
                check_orientation: false,     //SET TO FALSE IF YOU DON'T WANT TO SHOW ORIENTATION ALERT ON MOBILE DEVICES
                num_levels_for_ads: 1//NUMBER OF TURNS PLAYED BEFORE AD SHOWING //
                //////// THIS FEATURE  IS ACTIVATED ONLY WITH CTL ARCADE PLUGIN./////////////////////////// 
                /////////////////// YOU CAN GET IT AT: ///////////////////////////////////////////////////////// 
            });
            $(oMain).on("start_session", function (evt) {
                if (getParamValue('ctl-arcade') === "true") {
                    // parent.__ctlArcadeStartSession();
                }
            });

            $(oMain).on("end_session", function (evt) {
                if (getParamValue('ctl-arcade') === "true") {
                    // parent.__ctlArcadeEndSession();
                }
            });

            $(oMain).on("start_level", function (evt, iLevel) {
                if (getParamValue('ctl-arcade') === "true") {
                    // parent.__ctlArcadeStartLevel({ level: iLevel });
                }
            });

            $(oMain).on("restart_level", function (evt, iLevel) {
                if (getParamValue('ctl-arcade') === "true") {
                    // parent.__ctlArcadeRestartLevel({ level: iLevel });
                }
            });

            $(oMain).on("end_level", function (evt, iLevel) {
                if (getParamValue('ctl-arcade') === "true") {
                    // parent.__ctlArcadeEndLevel({ level: iLevel });
                }
            });

            $(oMain).on("save_score", function (evt, iScore, szMode) {
                if (getParamValue('ctl-arcade') === "true") {
                    // parent.__ctlArcadeSaveScore({ score: iScore, mode: szMode });
                }
            });

            $(oMain).on("show_interlevel_ad", function (evt) {
                if (getParamValue('ctl-arcade') === "true") {
                    // parent.__ctlArcadeShowInterlevelAD();
                }
            });

            $(oMain).on("share_event", function (evt, iScore) {
                if (getParamValue('ctl-arcade') === "true") {
//                     parent.__ctlArcadeShareEvent({
//                         img: TEXT_SHARE_IMAGE,
//                         title: TEXT_SHARE_TITLE,
//                         msg: TEXT_SHARE_MSG1 + iScore + TEXT_SHARE_MSG2,
//                         msg_share: TEXT_SHARE_SHARE1 + iScore + TEXT_SHARE_SHARE1                    
// });
                }
            });


            if (isIOS()) {
                setTimeout(function () {
                    sizeHandler();
                }, 200);
            } else {
                sizeHandler();
            }
        });

    </script>

    <div class="check-fonts">
        <p class="check-font-1">comfortaa</p>
        <p class="check-font-3">Digital</p>
    </div>

    <canvas id="canvas" class='ani_hack' width="820" height="1410"> </canvas>
    <div data-orientation="portrait" class="orientation-msg-container">
        <p class="orientation-msg-text">Please rotate your device</p>
    </div>
    <div id="block_game" style="position: fixed; background-color: transparent; top: 0px; left: 0px; width: 100%; height: 100%; display:none"></div>
    <a >
        <img src="sprites/sitelogo2.png" style="position:absolute;z-index:500;top:5px;left:50%;width:80px;max-width:10%;max-height:40px;transform: translate(-50%, 0%);"
            alt="Mobile Games">
    </a>


</body>

</html>